@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
@import "tailwindcss";

body,html{
  scroll-behavior: smooth;
}

.font1{
  font-family: 'Fraunces', serif;
  font-weight: 700;
}
.font2{
  font-family: 'Playfair Display SC', serif;
  font-weight: 50;
}


